apiVersion: 1
groups:
  - orgId: 1
    name: Model Performance
    folder: Model Performance Alerts
    interval: 1h
    rules:
      - uid: dfbkawf2pwttsa
        title: HighRMSE
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: promID
            model:
              editorMode: builder
              expr: model_rmse_score
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: A
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 30
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: NoData
        execErrState: Error
        isPaused: false
        notification_settings:
          receiver: grafana-default-email
